.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $max-mobile) {
    min-width: 320px;
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: $desktop) {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
