$main-white-color: #ffffff;
$main-black-color: #000000;
$background-accent-light: #fff5f6;
$background-modal: #e17992;
$background-modal-line: #e18298;
$background-accent: #ffb8ca;
$background-beige: #f0d1a5;
$background-green: #c2e297;
$background-reviews-light: #fafafa;
$background-reviews: #e1e1e1;
$background-hover: #c7133e;
$background-icon-reviews: #d9d9d9;
$text-color-title: #d41443;
$background-image: #ffa5ba;
$text-color-accent: #907e82;
$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
$main-letter-spacing: 0.04em;
$mobile: 480px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1199px;
$desktop: 1280px;
