<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <img
          class="advantages__icon"
          src="./images/advantages/x1/icon1-advantages.png"
          width="33"
          height="50"
          alt="ice cream in a glass"
        />
        <p class="advantages__quantity">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__icon"
          src="./images/advantages/x1/icon2-advantages.png"
          width="50"
          height="50"
          alt="ice cream with filling"
        />
        <p class="advantages__quantity">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__icon"
          src="./images/advantages/x1/icon3-advantages.png"
          width="44"
          height="50"
          alt="ice cream on a stick"
        />
        <p class="advantages__quantity">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
