<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <span class="advantages__quantity">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__quantity">16</span>
        <span class="advantages__weight">kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__quantity">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
