<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <span class="advantages__quantity">721</span>
        <p class="advantages__text">This is how many liters of milk we use every week</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__quantity">16</span>
        <span class="advantages__weight">kg</span>
        <p class="advantages__text">The amount of fruit we add to our recipes every day</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__quantity">84</span>
        <p class="advantages__text">The record for the number of milkshakes drunk at one time</p>
      </li>
    </ul>
  </div>
</section>
