<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="visually-hidden" id="contacts">Contacts</h2>
    <ul class="contacts-card list">
      <li class="contacts-card__item">
        <h3 class="contacts-card__type">Cafe</h3>
        <span class="contacts-card__location">Chicago</span>
        <p class="contacts-card__description">
          We're share many ice cream with those who walk through our doors
        </p>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-list__days">Monday - Friday</p>
            <time class="schedule-list__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__days">Saturday - Sunday</p>
            <time class="schedule-list__time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <ul class="connection-list list">
          <li class="connection-list__item">
            <a class="connection-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="connection-list__item">
            <a class="connection-list__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts-card__item">
        <h3 class="contacts-card__type--foodtrack">Food Track</h3>
        <span class="contacts-card__location">Los Angeles</span>
        <p class="contacts-card__description">
          Serving authentic ice cream, milkshakes, and many more flavors
        </p>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-list__days">Monday - Friday</p>
            <time class="schedule-list__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__days">Saturday - Sunday</p>
            <time class="schedule-list__time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <ul class="connection-list list">
          <li class="connection-list__item">
            <a class="connection-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="connection-list__item">
            <a class="connection-list__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts-card__item">
        <h3 class="contacts-card__type">Cafe</h3>
        <span class="contacts-card__location">New York</span>
        <p class="contacts-card__description">
          Homemade ice cream for those of us who are kids at heart
        </p>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-list__days">Monday - Friday</p>
            <time class="schedule-list__time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-list__days">Saturday - Sunday</p>
            <time class="schedule-list__time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <ul class="connection-list list">
          <li class="connection-list__item">
            <a class="connection-list__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="connection-list__item">
            <a class="connection-list__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="button-list list">
      <li class="button-list__item">
        <button class="action-btn--crimson" type="button">
          <a
            class="action-btn__link link"
            href="https://www.google.com/maps/d/embed?mid=1QPhg5mcSEksptCTlvovRGMRS1z0"
            target="_blank"
            rel="noreferrer noopener"
            >Our Locations</a
          >
          <svg class="contact__icon" width="10" height="10">
            <use xlink:href="./images/sprite.svg#arrow-btn-2"></use>
          </svg>
        </button>
      </li>
      <li class="button-list__item">
        <button class="action-btn--light" type="button">
          Franchise
          <svg class="contact__icon--dark" width="10" height="10">
            <use xlink:href="./images/sprite.svg#arrow-btn-2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
