<footer class="footer">
    <div class="container">
        <p class="footer__text-1">HOMEMADE ICE CREAM MADE</p>
        <p class="footer__text-2">WITH PASSION</p>
        <ul class="social-list list">
            <li class="social-list__item">
                <a href="https://github.com/" class="social-list__link link">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#github"></use>
                </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://web.telegram.org/" class="social-list__link link">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#telegram"></use>
                </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://www.facebook.com/" class="social-list__link link">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#facebook"></use>
                </svg>
                </a>
            </li>
        </ul>
        <p class="footer__kontact">Feel free to contact <a href="" class="footer__kontact-link link">+61 (0) 383 766 284</a></p>
        <div class="copyright"><p class="copyright__text">&#169; 2019 - IceCream. All Rights Reserved.</p></div>

    </div>
</footer>