<footer class="footer">
  <div class="footer__noth-copy container">
    <div>
      <p class="footer__title">homemade ice cream made</p>
      <p class="footer__title--dark">with passion</p>
      </div>
      <div>
      <ul class="social-list list">
        <li class="social-list__item">
          <a
            href="https://github.com/"
            rel="noopener noreferrer"
            target="_blank"
            class="social-list__link link"
          >
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="https://web.telegram.org/"
            rel="noopener noreferrer"
            target="_blank"
            class="social-list__link link"
          >
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="https://www.facebook.com/"
            rel="noopener noreferrer"
            target="_blank"
            class="social-list__link link"
          >
            <svg class="social-list__icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__сontact">
        Feel free to contact
        <a href="tel: +61 (0) 383 766 284" class="footer__сontact-link link">+61 (0) 383 766 284</a>
      </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__text">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
