<footer class="footer">
  <div class="container">
    <div class="footer__noth-copy">
      <div>
        <p class="footer__tittle">homemade ice cream made</p>
        <p class="footer__tittle--dark">with passion</p>
      </div>
      <div>
        <ul class="social-list list">
          <li class="social-list__item">
            <a
              href="https://github.com/"
              rel="noopener noreferrer"
              target="_blank"
              class="social-list__link link"
            >
              <svg class="social-list__icon">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://web.telegram.org/"
              rel="noopener noreferrer"
              target="_blank"
              class="social-list__link link"
            >
              <svg class="social-list__icon">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href="https://www.facebook.com/"
              rel="noopener noreferrer"
              target="_blank"
              class="social-list__link link"
            >
              <svg class="social-list__icon">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__kontact">
          Feel free to contact
          <a href="tel: +61 (0) 383 766 284" class="footer__kontact-link link"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <div class="copyright">
      <!-- <hr class="copyright___line" /> -->
      <p class="copyright__text">&#169; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
