<section class="gallery">
    <div class="container">
        <picture>
            <source srcset="./images/gallery/desktop/pic1.webp 1x, ./images/gallery/desktop/pic1@2x.webp 2x" type="image/webp">
            <source srcset="./images/gallery/desktop/pic1.jpg 1x, ./images/gallery/desktop/pic1@2x.jpg 2x" type="image/jpeg">
            <img src="./images/gallery/desktop/pic1.jpg" alt="ice-cream">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/pic2.webp 1x, ./images/gallery/desktop/pic2@2x.webp 2x" type="image/webp">
            <source srcset="./images/gallery/desktop/pic2.jpg 1x, ./images/gallery/desktop/pic2@2x.jpg 2x" type="image/jpeg">
            <img src="./images/gallery/desktop/pic1.jpg" alt="ice-cream">
        </picture>
    </div>
</section>