<section id="products" class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-list list">
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic1.webp    1x,
                ./images/gallery/desktop/pic1@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic1.jpg 1x, ./images/gallery/desktop/pic1@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic1.webp 1x, ./images/gallery/tablet/pic1@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic1.jpg 1x, ./images/gallery/tablet/pic1@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic1.webp 1x, ./images/gallery/tel/pic1@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic1.jpg 1x, ./images/gallery/tel/pic1@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic1.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic2.webp    1x,
                ./images/gallery/desktop/pic2@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic2.jpg 1x, ./images/gallery/desktop/pic2@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic2.webp 1x, ./images/gallery/tablet/pic2@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic2.jpg 1x, ./images/gallery/tablet/pic2@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic2.webp 1x, ./images/gallery/tel/pic2@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic2.jpg 1x, ./images/gallery/tel/pic2@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic2.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic3.webp    1x,
                ./images/gallery/desktop/pic3@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic3.jpg 1x, ./images/gallery/desktop/pic3@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic3.webp 1x, ./images/gallery/tablet/pic3@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic3.jpg 1x, ./images/gallery/tablet/pic3@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic3.webp 1x, ./images/gallery/tel/pic3@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic3.jpg 1x, ./images/gallery/tel/pic3@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic3.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic4.webp    1x,
                ./images/gallery/desktop/pic4@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic4.jpg 1x, ./images/gallery/desktop/pic4@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic4.webp 1x, ./images/gallery/tablet/pic4@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic4.jpg 1x, ./images/gallery/tablet/pic4@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic4.webp 1x, ./images/gallery/tel/pic4@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic4.jpg 1x, ./images/gallery/tel/pic4@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic4.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic5.webp    1x,
                ./images/gallery/desktop/pic5@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic5.jpg 1x, ./images/gallery/desktop/pic5@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic5.webp 1x, ./images/gallery/tablet/pic5@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic5.jpg 1x, ./images/gallery/tablet/pic5@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic5.webp 1x, ./images/gallery/tel/pic5@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic5.jpg 1x, ./images/gallery/tel/pic5@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic5.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic6.webp    1x,
                ./images/gallery/desktop/pic6@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic6.jpg 1x, ./images/gallery/desktop/pic6@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic6.webp 1x, ./images/gallery/tablet/pic6@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic6.jpg 1x, ./images/gallery/tablet/pic6@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic6.webp 1x, ./images/gallery/tel/pic6@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic6.jpg 1x, ./images/gallery/tel/pic6@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic6.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic7.webp    1x,
                ./images/gallery/desktop/pic7@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic7.jpg 1x, ./images/gallery/desktop/pic7@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic7.webp 1x, ./images/gallery/tablet/pic7@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic7.jpg 1x, ./images/gallery/tablet/pic7@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic7.webp 1x, ./images/gallery/tel/pic7@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic7.jpg 1x, ./images/gallery/tel/pic7@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic7.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic8.webp    1x,
                ./images/gallery/desktop/pic8@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic8.jpg 1x, ./images/gallery/desktop/pic8@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic8.webp 1x, ./images/gallery/tablet/pic8@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic8.jpg 1x, ./images/gallery/tablet/pic8@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic8.webp 1x, ./images/gallery/tel/pic8@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic8.jpg 1x, ./images/gallery/tel/pic8@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic8.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic9.webp    1x,
                ./images/gallery/desktop/pic9@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic9.jpg 1x, ./images/gallery/desktop/pic9@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic9.webp 1x, ./images/gallery/tablet/pic9@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic9.jpg 1x, ./images/gallery/tablet/pic9@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic9.webp 1x, ./images/gallery/tel/pic9@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic9.jpg 1x, ./images/gallery/tel/pic9@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic9.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery-list__link link">
          <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic99.webp    1x,
                ./images/gallery/desktop/pic99@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/desktop/pic99.jpg    1x,
                ./images/gallery/desktop/pic99@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/gallery/tablet/pic99.webp    1x,
                ./images/gallery/tablet/pic99@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic99.jpg 1x, ./images/gallery/tablet/pic99@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic99.webp 1x, ./images/gallery/tel/pic99@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic99.jpg 1x, ./images/gallery/tel/pic99@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic99.jpg" alt="ice-cream" />
          </picture>
        </a>
      </li>
    </ul>
    <!-- <picture>
            <source srcset="./images/gallery/desktop/pic1.webp 1x, ./images/gallery/desktop/pic1@2x.webp 2x" type="image/webp">
            <source srcset="./images/gallery/desktop/pic1.jpg 1x, ./images/gallery/desktop/pic1@2x.jpg 2x" type="image/jpeg">
            <img src="./images/gallery/desktop/pic1.jpg" alt="ice-cream">
        </picture>
        <picture>
            <source srcset="./images/gallery/desktop/pic2.webp 1x, ./images/gallery/desktop/pic2@2x.webp 2x" type="image/webp">
            <source srcset="./images/gallery/desktop/pic2.jpg 1x, ./images/gallery/desktop/pic2@2x.jpg 2x" type="image/jpeg">
            <img src="./images/gallery/desktop/pic1.jpg" alt="ice-cream">
        </picture> -->
  </div>
</section>
<!-- <section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="gallery-list list">
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic1">
                        <source srcset="./images/gallery/desktop/pic1.webp 1x, ./images/gallery/desktop/pic1@2x.webp 2x" 
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic1.jpg 1x, ./images/gallery/desktop/pic1@2x.jpg 2x" 
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic1.webp 1x, ./images/gallery/tablet/pic1@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic1.jpg 1x, ./images/gallery/tablet/pic1@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic1.webp 1x, ./images/gallery/tel/pic1@2x.webp 2x"
                            media="(min-width: 320px)" type="image/webp">
                        <source srcset="./images/gallery/tel/pic1.jpg 1x, ./images/gallery/tel/pic1@2x.jpg 2x" 
                            media="(min-width: 320px)" type="image/jpeg">
                        <img src="./images/gallery/tel/pic1.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic2">
                        <source srcset="./images/gallery/desktop/pic2.webp 1x, ./images/gallery/desktop/pic2@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic2.jpg 1x, ./images/gallery/desktop/pic2@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic2.webp 1x, ./images/gallery/tablet/pic2@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic2.jpg 1x, ./images/gallery/tablet/pic2@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic2.webp 1x, ./images/gallery/tel/pic2@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic2.jpg 1x, ./images/gallery/tel/pic2@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic2.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic3">
                        <source srcset="./images/gallery/desktop/pic3.webp 1x, ./images/gallery/desktop/pic3@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic3.jpg 1x, ./images/gallery/desktop/pic3@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic3.webp 1x, ./images/gallery/tablet/pic3@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic3.jpg 1x, ./images/gallery/tablet/pic3@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic3.webp 1x, ./images/gallery/tel/pic3@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic3.jpg 1x, ./images/gallery/tel/pic3@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic3.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic4">
                        <source srcset="./images/gallery/desktop/pic4.webp 1x, ./images/gallery/desktop/pic4@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic4.jpg 1x, ./images/gallery/desktop/pic4@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic4.webp 1x, ./images/gallery/tablet/pic4@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic4.jpg 1x, ./images/gallery/tablet/pic4@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic4.webp 1x, ./images/gallery/tel/pic4@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic4.jpg 1x, ./images/gallery/tel/pic4@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic4.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic5">
                        <source srcset="./images/gallery/desktop/pic5.webp 1x, ./images/gallery/desktop/pic5@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic5.jpg 1x, ./images/gallery/desktop/pic5@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic5.webp 1x, ./images/gallery/tablet/pic5@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic5.jpg 1x, ./images/gallery/tablet/pic5@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic5.webp 1x, ./images/gallery/tel/pic5@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic5.jpg 1x, ./images/gallery/tel/pic5@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic5.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic6">
                        <source srcset="./images/gallery/desktop/pic6.webp 1x, ./images/gallery/desktop/pic6@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic6.jpg 1x, ./images/gallery/desktop/pic6@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic6.webp 1x, ./images/gallery/tablet/pic6@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic6.jpg 1x, ./images/gallery/tablet/pic6@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic6.webp 1x, ./images/gallery/tel/pic6@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic6.jpg 1x, ./images/gallery/tel/pic6@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic6.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic7">
                        <source srcset="./images/gallery/desktop/pic7.webp 1x, ./images/gallery/desktop/pic7@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic7.jpg 1x, ./images/gallery/desktop/pic7@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic7.webp 1x, ./images/gallery/tablet/pic7@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic7.jpg 1x, ./images/gallery/tablet/pic7@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic7.webp 1x, ./images/gallery/tel/pic7@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic7.jpg 1x, ./images/gallery/tel/pic7@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic7.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic8">
                        <source srcset="./images/gallery/desktop/pic8.webp 1x, ./images/gallery/desktop/pic8@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic8.jpg 1x, ./images/gallery/desktop/pic8@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic8.webp 1x, ./images/gallery/tablet/pic8@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic8.jpg 1x, ./images/gallery/tablet/pic8@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic8.webp 1x, ./images/gallery/tel/pic8@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic8.jpg 1x, ./images/gallery/tel/pic8@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic8.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic9">
                        <source srcset="./images/gallery/desktop/pic9.webp 1x, ./images/gallery/desktop/pic9@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic9.jpg 1x, ./images/gallery/desktop/pic9@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic9.webp 1x, ./images/gallery/tablet/pic9@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic9.jpg 1x, ./images/gallery/tablet/pic9@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic9.webp 1x, ./images/gallery/tel/pic9@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic9.jpg 1x, ./images/gallery/tel/pic9@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic9.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
            <li class="gallery__item">
                <a href="" class="gallery-list__link link">
                    <picture class="pic99">
                        <source srcset="./images/gallery/desktop/pic99.webp 1x, ./images/gallery/desktop/pic99@2x.webp 2x"
                            media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./images/gallery/desktop/pic99.jpg 1x, ./images/gallery/desktop/pic99@2x.jpg 2x"
                            media="(min-width: 1280px)" type="image/jpeg">
                        <source srcset="./images/gallery/tablet/pic99.webp 1x, ./images/gallery/tablet/pic99@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp">
                        <source srcset="./images/gallery/tablet/pic99.jpg 1x, ./images/gallery/tablet/pic99@2x.jpg 2x"
                            media="(min-width: 768px)" type="image/jpeg">
                        <source srcset="./images/gallery/tel/pic99.webp 1x, ./images/gallery/tel/pic99@2x.webp 2x" media="(min-width: 320px)"
                            type="image/webp">
                        <source srcset="./images/gallery/tel/pic99.jpg 1x, ./images/gallery/tel/pic99@2x.jpg 2x" media="(min-width: 320px)"
                            type="image/jpeg">
                        <img src="./images/gallery/tel/pic99.jpg" alt="ice-cream">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section> -->

