<section id="menu-promo" class="promo gridGallery">
  <div class="promo__container container">
    <label class="switch__box" id="switch">
      <input type="checkbox" aria-controls="menu-gallery" />

    </label>

    <div class="gallery-box" id="menu-gallery" data-gallery>
      <ul class="gallery _anim-items _anim-no-hide list">
        <li class="gallery-item">
          <div class="item-box image-up">
            <div class="item-content">
              <picture>
               <picture>
            <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic1.webp    1x,
                ./images/gallery/desktop/pic1@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic1.jpg 1x, ./images/gallery/desktop/pic1@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic1.webp 1x, ./images/gallery/tablet/pic1@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic1.jpg 1x, ./images/gallery/tablet/pic1@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic1.webp 1x, ./images/gallery/tel/pic1@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic1.jpg 1x, ./images/gallery/tel/pic1@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic1.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="item-box image-up">
            <div class="item-content">
               <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic2.webp    1x,
                ./images/gallery/desktop/pic2@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic2.jpg 1x, ./images/gallery/desktop/pic2@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic2.webp 1x, ./images/gallery/tablet/pic2@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic2.jpg 1x, ./images/gallery/tablet/pic2@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic2.webp 1x, ./images/gallery/tel/pic2@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic2.jpg 1x, ./images/gallery/tel/pic2@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic2.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
          <div class="item-box image-down">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic3.webp    1x,
                ./images/gallery/desktop/pic3@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic3.jpg 1x, ./images/gallery/desktop/pic3@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic3.webp 1x, ./images/gallery/tablet/pic3@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic3.jpg 1x, ./images/gallery/tablet/pic3@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic3.webp 1x, ./images/gallery/tel/pic3@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic3.jpg 1x, ./images/gallery/tel/pic3@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic3.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
        <li class="gallery-item gallery-item-big">
          <div class="item-box image-up">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic4.webp    1x,
                ./images/gallery/desktop/pic4@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic4.jpg 1x, ./images/gallery/desktop/pic4@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic4.webp 1x, ./images/gallery/tablet/pic4@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic4.jpg 1x, ./images/gallery/tablet/pic4@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic4.webp 1x, ./images/gallery/tel/pic4@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic4.jpg 1x, ./images/gallery/tel/pic4@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic4.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
          <div class="item-box image-down">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic5.webp    1x,
                ./images/gallery/desktop/pic5@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic5.jpg 1x, ./images/gallery/desktop/pic5@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic5.webp 1x, ./images/gallery/tablet/pic5@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic5.jpg 1x, ./images/gallery/tablet/pic5@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic5.webp 1x, ./images/gallery/tel/pic5@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic5.jpg 1x, ./images/gallery/tel/pic5@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic5.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="item-box image-up">
            <div class="item-content">
               <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic6.webp    1x,
                ./images/gallery/desktop/pic6@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic6.jpg 1x, ./images/gallery/desktop/pic6@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic6.webp 1x, ./images/gallery/tablet/pic6@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic6.jpg 1x, ./images/gallery/tablet/pic6@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic6.webp 1x, ./images/gallery/tel/pic6@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic6.jpg 1x, ./images/gallery/tel/pic6@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic6.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
          <div class="item-box image-down">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic7.webp    1x,
                ./images/gallery/desktop/pic7@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic7.jpg 1x, ./images/gallery/desktop/pic7@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic7.webp 1x, ./images/gallery/tablet/pic7@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic7.jpg 1x, ./images/gallery/tablet/pic7@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic7.webp 1x, ./images/gallery/tel/pic7@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic7.jpg 1x, ./images/gallery/tel/pic7@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic7.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
        <li class="gallery-item gallery-item-up">
          <div class="item-box image-up">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic8.webp    1x,
                ./images/gallery/desktop/pic8@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic8.jpg 1x, ./images/gallery/desktop/pic8@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic8.webp 1x, ./images/gallery/tablet/pic8@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic8.jpg 1x, ./images/gallery/tablet/pic8@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic8.webp 1x, ./images/gallery/tel/pic8@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic8.jpg 1x, ./images/gallery/tel/pic8@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic8.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
          <div class="item-box image-down">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic9.webp    1x,
                ./images/gallery/desktop/pic9@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/desktop/pic9.jpg 1x, ./images/gallery/desktop/pic9@2x.jpg 2x"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tablet/pic9.webp 1x, ./images/gallery/tablet/pic9@2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic9.jpg 1x, ./images/gallery/tablet/pic9@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic9.webp 1x, ./images/gallery/tel/pic9@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic9.jpg 1x, ./images/gallery/tel/pic9@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic9.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
        <li class="gallery-item">
          <div class="item-box image-up">
            <div class="item-content">
              <picture>
            <source
              srcset="
                ./images/gallery/desktop/pic99.webp    1x,
                ./images/gallery/desktop/pic99@2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/gallery/desktop/pic99.jpg    1x,
                ./images/gallery/desktop/pic99@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/gallery/tablet/pic99.webp    1x,
                ./images/gallery/tablet/pic99@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tablet/pic99.jpg 1x, ./images/gallery/tablet/pic99@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="./images/gallery/tel/pic99.webp 1x, ./images/gallery/tel/pic99@2x.webp 2x"
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="./images/gallery/tel/pic99.jpg 1x, ./images/gallery/tel/pic99@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpeg"
            />
            <img src="./images/gallery/tel/pic99.jpg" class="item-image" alt="ice-cream" />
          </picture>
            </div>
          </div>
        </li>
      </ul>

      <!-- <div class="promo__picture-container">
        <div class="gallery-container">
          <div class="grid _anim-items _anim-no-hide">
            <div class="grid-item grid-item--height2">
              <img src="./images/gallery/gallery1.jpg" alt="" />
            </div>
            <div class="grid-item">
              <img src="./images/gallery/gallery2.jpg" alt="" />
            </div>
            <div class="grid-item grid-item--height2"></div>
            <div class="grid-item">
              <img src="./images/gallery/gallery4.jpg" alt="" />
            </div>
            <div class="grid-item grid-item--height2">
              <img src="./images/gallery/gallery5big.jpg" alt="" />
            </div>
            <div class="grid-item">
              <img src="./images/gallery/gallery6.jpg" alt="" />
            </div>
            <div class="grid-item">
              <img src="./images/gallery/gallery7big.jpg" alt="" />
            </div>
            <div class="grid-item grid-item--height2">
              <img src="./images/gallery/gallery8.jpg" alt="" />
            </div>
            <div class="grid-item">
              <img src="./images/gallery/gallery9.jpg" alt="" />
            </div>
            <div class="grid-item grid-item--height2">
              <img src="./images/gallery/desktop/pic9.jpg" alt="" />
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
