 <!-- ПЕРЕКЛЮЧАТЕЛЬ ДЛЯ ГАЛЕРЕЙ!!! -->
  <label class="switch__box" id="switch">
    <input type="checkbox" aria-controls="menu-gallery" />
    <span class="switch__slider round"></span>
    <span class="switch__info toggled" data-toggle>
      <span class="switch__info-masonry">Masonry</span>
      <span class="switch__info-flex">Flex</span>
    </span>
  </label>

  <!-- ДИВ ДЛЯ ПЕРЕКЛЮЧЕНИЯ ГАЛЕРЕЙ! -->

  <div class="gallery-box" id="menu-gallery" data-gallery>

    <ul class="gallery _anim-items _anim-no-hide ">
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery1.jpg"
              class="item-image"
              alt="ice-cream on plate"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery2.jpg"
              class="item-image"
              alt="hand holds pink ice-cream"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/gallery3big.jpg"
              class="item-image"
              alt="lots of pink ice-creams on table"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item gallery-item-big">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery4.jpg"
              class="item-image"
              alt="lots of decorated ice creams on table"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/gallery5big.jpg"
              class="item-image"
              alt="girl's smile with ice-cream in hand"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery6.jpg"
              class="item-image"
              alt="lots of ice-cream on table"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/gallery7big.jpg"
              class="item-image"
              alt="hand holds ice cream"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item gallery-item-up">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery8.jpg"
              class="item-image"
              alt="dog licks ice cream"
            />
          </div>
        </div>
        <div class="item-box image-down">
          <div class="item-content">
            <img
              src="./images/gallery/gallery9.jpg"
              class="item-image"
              alt="ice cream cupcake"
            />
          </div>
        </div>
      </li>
      <li class="gallery-item">
        <div class="item-box image-up">
          <div class="item-content">
            <img
              src="./images/gallery/gallery3big.jpg"
              class="item-image"
              alt="ice cream vacation"
            />
          </div>
        </div>
      </li>
    </ul>


    <div class="promo__picture-container">
      <div class="gallery-container">
        <div class="grid _anim-items _anim-no-hide">
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/gallery1.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/gallery2.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
          </div>
          <div class="grid-item">
            <img src="./images/gallery/gallery4.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/gallery5big.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/gallery6.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/gallery7big.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/gallery8.jpg" alt="" />
          </div>
          <div class="grid-item">
            <img src="./images/gallery/gallery9.jpg" alt="" />
          </div>
          <div class="grid-item grid-item--height2">
            <img src="./images/gallery/desktop/pic9.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
