<header class="header">
   <div class="container">
        <nav class="nav">
        <div class="logo">
            <a href="./index.html" class="logo__link">
                <img class="logo__img" srcset="./images/hero/common/logo.png 1x, ./images/hero/common/logo@2x.png 2x" src="./images/hero/common/logo.png" alt="logo">
            </a>
        </div>
        <ul class="nav__list list">
            <li class="nav__item">
                <a href="#hero" class="nav__link link">Home</a>
            </li>
            <li class="nav__item">
                <a href="#about" class="nav__link link">About us</a>
            </li>
            <li class="nav__item">
                <a href="#advantages" class="nav__link link">How it’s made?</a>
            </li>
            <li class="nav__item">
                <a href="#products" class="nav__link link">Our products</a>
            </li>
            <li class="nav__item">
                <a href="#contacts" class="nav__link link">Contact</a>
            </li>
        </ul>
    </nav>
   </div>
    <button class="burger-btn" type="button">
        <svg class="burger-btn__icon" width="20" height="12">
            <use href="./images/sprite.svg#burger-2"></use>
        </svg>
    </button>
    <button class="order-btn action-btn--light" type="button">Buy now
        <svg class="btn-icon action-btn__icon" width="10" height="10">
            <use href="./images/sprite.svg#arrow-btn-2"></use>>
        </svg>
    </button>
</header>