<section class="hero" id="hero">
  <div class="container">
    <div class="wrapper">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="simple-button__list list">
        <li class="simple-button__item simple-btn--crimson">
          <a class="simple-button__link link" href="#products">Products</a>
        </li>
        <li class="simple-button__item simple-btn--light">
          <a class="simple-button__link link" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="hero__desc">
        <p class="hero__desc-text">
          An authentic and fruity pleasure with 100% natural ingredients. It is everything you need
          on a summer day!
        </p>
        <a
          class="hero__desc-link simple-btn--light link"
          href="https://www.youtube.com/watch?v=PMPlAT-eCuY"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="hero__desc-link-wrapper">
            <svg class="hero__desc-link-icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div class="bg-group">
      <picture class="bg-group__icecream">
        <source
          srcset="
            ./images/hero/desktop/x1/icecream-desktop.png    1x,
            ./images/hero/desktop/x2/icecream-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
          sizes=""
          type=""
        />
        <source
          srcset="
            ./images/hero/tablet/x1/icecream-tablet.png    1x,
            ./images/hero/tablet/x2/icecream-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
          sizes=""
          type=""
        />
        <source
          srcset="
            ./images/hero/tel/x1/icecream-tel.png    1x,
            ./images/hero/tel/x2/icecream-tel@2x.png 2x
          "
          media="(min-width: 320px)"
          sizes=""
          type=""
        />
        <img src="./images/hero/tel/x1/icecream-tel.png" alt="icecream-image" />
      </picture>
    </div>
    <div class="bg-effect"></div>
    <div class="bg-group-2">
      <ul class="bg-group-2__list list ">
        <li class="bg-group-2__item">
          <span class="bg-group-2__quantity">16</span>
          <span class="bg-group-2__weight">cafe</span>
        </li>
        <li class="bg-group-2__item">
          <span class="bg-group-2__quantity">23</span>
          <span class="bg-group-2__weight">food tracks</span>
        </li>
      </ul>
    </div>
    <picture class="hero__bg-milk">
      <source
        srcset="
          ./images/hero/desktop/x1/milk-desktop.png    1x,
          ./images/hero/desktop/x2/milk-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        sizes=""
        type=""
      />
      <source
        srcset="
          ./images/hero/tablet/x1/milk-tablet.png    1x,
          ./images/hero/tablet/x2/milk-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        sizes=""
        type=""
      />
      <img src="./images/hero/tablet/x1/milk-tablet.png" alt="milk-image" />
    </picture>
    <picture class="hero__bg-tasty">
      <source
        srcset="
          ./images/hero/desktop/x1/so-tasty-desktop.png    1x,
          ./images/hero/desktop/x2/so-tasty-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
        sizes=""
        type=""
      />
      <source
        srcset="
          ./images/hero/tablet/x1/so-tasty-tablet.png    1x,
          ./images/hero/tablet/x2/so-tasty-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        sizes=""
        type=""
      />
      <img src="./images/hero/tablet/x1/so-tasty-tablet.png" alt="milk-image" />
    </picture>
  </div>
</section>
