<section class="hero" id="hero">
    <div class="container">
        <div class="wrapper">
            <h1 class="hero__title">ice cream made with <span class="hero__title--accent">passion</span></h1>
        <ul class="simple-button__list list">
            <li class="simple-button__item simple-btn--crimson">
                <a class="simple-button__link link" href="#products">Products</a>
            </li>
            <li class="simple-button__item simple-btn--light">
                <a class="simple-button__link link" href="#about">How it’s made?</a>
            </li>
        </ul>
        <div class="hero__desc">
            <p class="hero__desc-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <a class="hero__desc-link simple-btn--light link" href="https://www.youtube.com/watch?v=PMPlAT-eCuY" target="_blank" rel="noopener noreferrer">
                <span class="hero__desc-link-wrapper">
                    <svg class="hero__desc-link-icon">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </span>
            </a>
        </div>
        </div>
       <div class="bg-group">
             <picture class="bg-group__icecream">
                 <source srcset="./images/hero/desktop/x1/icecream-desktop.webp 1x, ./images/hero/desktop/x2/icecream-desktop@2x.webp 2x" media="(min-width: 1280px)" sizes=""
                    type="image/webp" />
                <source srcset="./images/hero/desktop/x1/icecream-desktop.png 1x, ./images/hero/desktop/x2/icecream-desktop@2x.png 2x" media="(min-width: 1280px)" sizes=""
                    type="" />
                <source srcset="./images/hero/tablet/x1/icecream-tablet.webp 1x, ./images/hero/tablet/x2/icecream-tablet@2x.webp 2x" media="(min-width: 768px)" sizes=""
                    type="image/webp" />
                <source srcset="./images/hero/tablet/x1/icecream-tablet.png 1x, ./images/hero/tablet/x2/icecream-tablet@2x.png 2x" media="(min-width: 768px)" sizes=""
                    type="" />
                <source srcset="./images/hero/tel/x1/icecream-tel.webp 1x, ./images/hero/tel/x2/icecream-tel@2x.webp 2x" media="(min-width: 320px)" sizes=""
                    type="image/webp" />
                <source srcset="./images/hero/tel/x1/icecream-tel.png 1x, ./images/hero/tel/x2/icecream-tel@2x.png 2x" media="(min-width: 320px)" sizes=""
                    type="" />
                <img src="./images/hero/tel/x1/icecream-tel.png" alt="icecream-image" />
            </picture>
       </div>
        <picture class="hero__bg-16">
            <source srcset="./images/hero/desktop/x1/16-desktop.webp 1x, ./images/hero/desktop/x2/16-desktop@2x.webp 2x" media="(min-width: 1280px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/desktop/x1/16-desktop.png 1x, ./images/hero/desktop/x2/16-desktop@2x.png 2x" media="(min-width: 1280px)" sizes=""
            type="" />
            <source srcset="./images/hero/tablet/x1/16-tablet.webp 1x, ./images/hero/tablet/x2/16-tablet@2x.webp 2x" media="(min-width: 768px)" sizes=""
            type="image/webp" />
            <source srcset="./images/hero/tablet/x1/16-tablet.png 1x, ./images/hero/tablet/x2/16-tablet@2x.png 2x" media="(min-width: 768px)" sizes=""
                type="" />
            <img src="./images/hero/tablet/x1/16-tablet.png" alt="16-image" />
        </picture>
        <picture class="hero__bg-23">
            <source srcset="./images/hero/desktop/x1/23-desktop.webp 1x, ./images/hero/desktop/x2/23-desktop@2x.webp 2x" media="(min-width: 1280px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/desktop/x1/23-desktop.png 1x, ./images/hero/desktop/x2/23-desktop@2x.png 2x" media="(min-width: 1280px)" sizes=""
                type="" />
            <source srcset="./images/hero/tablet/x1/23-tablet.webp 1x, ./images/hero/tablet/x2/23-tablet@2x.webp 2x" media="(min-width: 768px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/tablet/x1/23-tablet.png 1x, ./images/hero/tablet/x2/23-tablet@2x.png 2x" media="(min-width: 768px)" sizes=""
                type="" />
            <img src="./images/hero/tablet/x1/23-tablet.png" alt="23-image" />
        </picture>
        <picture class="hero__bg-milk">
            <source srcset="./images/hero/desktop/x1/milk-desktop.webp 1x, ./images/hero/desktop/x2/milk-desktop@2x.webp 2x" media="(min-width: 1280px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/desktop/x1/milk-desktop.png 1x, ./images/hero/desktop/x2/milk-desktop@2x.png 2x" media="(min-width: 1280px)" sizes=""
                type="" />
            <source srcset="./images/hero/tablet/x1/milk-tablet.webp 1x, ./images/hero/tablet/x2/milk-tablet@2x.webp 2x" media="(min-width: 768px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/tablet/x1/milk-tablet.png 1x, ./images/hero/tablet/x2/milk-tablet@2x.png 2x" media="(min-width: 768px)" sizes=""
                type="" />
            <img src="./images/hero/tablet/x1/milk-tablet.png" alt="milk-image" />
        </picture>
         <picture class="hero__bg-tasty">
            <source srcset="./images/hero/desktop/x1/so-tasty-desktop.webp 1x, ./images/hero/desktop/x2/so-tasty-desktop@2x.webp 2x" media="(min-width: 1280px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/desktop/x1/so-tasty-desktop.png 1x, ./images/hero/desktop/x2/so-tasty-desktop@2x.png 2x" media="(min-width: 1280px)" sizes=""
                type="" />
            <source srcset="./images/hero/tablet/x1/so-tasty-tablet.webp 1x, ./images/hero/tablet/x2/so-tasty-tablet@2x.webp 2x" media="(min-width: 768px)" sizes=""
                type="image/webp" />
            <source srcset="./images/hero/tablet/x1/so-tasty-tablet.png 1x, ./images/hero/tablet/x2/so-tasty-tablet@2x.png 2x" media="(min-width: 768px)" sizes=""
                type="" />
            <img src="./images/hero/tablet/x1/so-tasty-tablet.png" alt="milk-image" />
        </picture>
    </div>
</section>