<div class="mobile-menu-container" >
<div class="mobile-menu menu--hidden" data-menu="" mobile-menu-visibility>

  <button type="button" class="menu-btn" aria-expanded="false" aria-controls="mobile-menu" mobile-menu-close>
    <svg width="20" height="20" aria-label="show menu">
      <use class="menu-btn__icon-close" xlink:href="./images/sprite.svg#icon-close"></use>
  </svg>

  </button>

  <button class="order-btn action-btn--light" type="button" menu-data-modal-form-open>
    Buy now
    <svg class="btn-icon action-btn__icon" width="10" height="10" aria-label="make order">
      <use xlink:href="./images/sprite.svg#arrow-btn-2"></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__list-item"> <a href="" class="link nav-link"> Home </a> </li>
    <li class="mobile-menu__list-item"> <a href="" class="link nav-link"> About us</a> </li>
    <li class="mobile-menu__list-item"> <a href="" class="link nav-link"> How it's made?</a> </li>
    <li class="mobile-menu__list-item"> <a href="" class="link nav-link"> Our product</a> </li>
    <li class="mobile-menu__list-item"> <a href="" class="link nav-link"> Contacts</a> </li>
  </ul>


    <div class="drop drop--1"></div>
    <div class="drop drop--2"></div>
    <div class="drop drop--3"></div>
    <div class="drop drop--4"></div>
    <div class="drop drop--5"></div>

</div>
</div>
