<div class="backdrop-des is-hidden-cow" data-modal-cow>
  <div class="modal-des">
    <p class="modal-des__title">Sundae at home</p>
    <p class="modal-des__subtitle">
      Food <span class="modal-des__subtitle-servings">(for 6 servings)</span>
    </p>
    <ul class="modal-des__list">
      <li class="modal-des__item">
        <p class="modal-des__text-material">Cream, 33% fat - 600-700 g</p>
      </li>
      <li class="modal-des__item">
        <p class="modal-des__text-material">Condensed milk - 200-250 g</p>
      </li>
    </ul>
    <ol class="modal-des__list-des">
      <li class="modal-des__item-des">
        <p class="modal-des__text-des">
          Whip heavy cream using condensed milk (about 1/2 to 2/3 can) to taste.
        </p>
      </li>
      <li class="modal-des__item-des">
        <p class="modal-des__text-des">
          Pour the mixture into a suitable container and place in the freezer. Freeze from two or
          three hours (you can leave until the next day). The freezing time depends on the volume of
          the dishes and freezer power.
        </p>
      </li>
      <li class="modal-des__item-des">
        <p class="modal-des__text-des">
          You can serve ice cream, for example, sprinkle with grated chocolate. It is better to hold
          before serving ice cream a little in the refrigerator to soften it a little.
        </p>
      </li>
    </ol>
    <p class="modal-des__text">
      * You can make vanilla or chocolate homemade ice cream by adding vanilla to taste, or cocoa
      powder.
    </p>
    <button type="button" class="close-btn-des" data-modal-close-cow>
      <svg class="close-btn-des__icon-des">
        <use href="./images/sprite.svg/#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
