<div class="backdrop-des is-hidden-cow" data-modal-cow>
  <div class="modal-des">
    <p class="modal-des__title">Sundae at home</p>
    <p class="modal-des__subtitle" lang="ru">
      Food <span class="modal-des__subtitle-servings">(for 6 servings)</span>
    </p>
    <ul class="modal-des__list">
      <li class="modal-des__item">
        <p class="modal-des__text-material" lang="ru">Сливки жирностью 33% - 600-700 г</p>
      </li>
      <li class="modal-des__item">
        <p class="modal-des__text-material" lang="ru">Сгущенное молоко - 200-250 г</p>
      </li>
    </ul>
    <ol class="modal-des__list-des">
      <li class="modal-des__item-des">
        <p class="modal-des__text-des" lang="ru">
          Взбить жирные сливки, добавляя по вкусу сгущенное молоко (примерно от 1/2 до 2/3 банки).
        </p>
      </li>
      <li class="modal-des__item-des">
        <p class="modal-des__text-des" lang="ru">
          Выложить массу в подходящую посуду и поместить в морозильник. Замораживать от двух-трёх
          часов (можно оставить до следующего дня). Время замораживания зависит от объема посуды и
          мощности морозильной камеры.
        </p>
      </li>
      <li class="modal-des__item-des">
        <p class="modal-des__text-des" lang="ru">
          Подавать пломбир можно, например, посыпав тертым шоколадом. Перед подачей лучше подержать
          мороженое немного в холодильнике, чтобы оно стало чуть мягче.
        </p>
      </li>
    </ol>
    <p class="modal-des__text" lang="ru">
      *Можно сделать ванильный или шоколадный домашний пломбир, добавив по вкусу ваниль или
      какао-порошок.
    </p>
    <button type="button" class="close-btn-des" data-modal-close-cow>
      <svg class="close-btn-des__icon-des">
        <use href="./images/sprite.svg/#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
