<div class="backdrop-des">
  <div class="modal-des">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatum.</p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatumLorem, ipsum dolor
      sit amet consectetur adipisicing elit. Quam, voluptatumLorem, ipsum dolor sit amet consectetur
      adipisicing elit. Quam, voluptatumLorem, ipsum dolor sit amet consectetur adipisicing elit.
      Quam, voluptatum.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatumLorem, ipsum dolor
      sit amet consectetur adipisicing elit. Quam, voluptatumLorem, ipsum dolor sit amet consectetur
      adipisicing elit. Quam, voluptatum.
    </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, voluptatum.</p>
    <button type="button" class="close-btn-des">
      <svg class="close-btn-des__icon-des">
        <use href="./images/sprite.svg/#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
