<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <H2 class="products__title">products</H2>
        <ul class="products__list list">
            <li class="products__item">
                <h3 class="products__item-title">
                    ice cream
                </h3>
                <p class="products__item-decroption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="#" class="products__item-link link">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg/#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <h3 class="products__item-title">
                    ice coffee
                </h3>
                <p class="products__item-decroption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="#" class="products__item-link link">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg/#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li class="products__item">
                <h3 class="products__item-title">
                    milkshakes
                </h3>
                <p class="products__item-decroption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <a href="#" class="products__item-link link">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg/#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
