<section id="about" class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <H2 class="products__title">products</H2>
        <ul class="products__list list">
            <li class="products__item">
                
                <h3 class="products__item-title">
                    ice cream
                </h3>
                <p class="products__item-description">
                    We've been making our own ice cream since <span class="products__text-hide">the Spring of</span> 1985, which means we know <span class="products__text-hide">a thing or two about </span>how  to serve up the creamiest, best tasting scoops in the city!</p>
                    <div class="products__wraper">              
                    <div class="products__btn-wraper">
                        <button type="button" class="products__item-btn link">
                            <svg class="products__item-icon">
                                <use href="./images/sprite.svg#arrow-right"></use>
                            </svg>
                        </button>                    
                        <div class="overlay">
                        <ul class="overlay__list list">
                            <li class="overlay__item">
                                <a href="#" class="overlay__link link">Strawberry Cream</a>
                            </li>
                            <li class="overlay__item">
                                <a href="#" class="overlay__link link">Blueberry Dream</a>
                            </li>
                            <li class="overlay__item">
                                <a href="#" class="overlay__link link">Cherry-O CheeseCake</a>
                            </li>
                            <li class="overlay__item">
                                <a href="#" class="overlay__link link">Birthday Cake</a>
                            </li>
                            <li class="overlay__item">
                                <a href="#" class="overlay__link link">Rum Raisin</a>
                            </li>
                        </ul>
                    </div>  
                    </div>
                </div>               
            </li>
            <li class="products__item">
                 <!-- <div class="overlay__wraper"></div> -->
                <h3 class="products__item-title">
                    ice coffee
                </h3>
                <p class="products__item-description">
                    When the days turn hot, nothing is quite as refreshing as an iced coffee. We have something more fot you than iced coffee to tempt your tastebuds.<span class="products__text-hide"> We predict you'll love these</span></p>
                    <div class="products__wraper">              
                        <div class="products__btn-wraper">
                            <button type="button" class="products__item-btn link">
                                <svg class="products__item-icon">
                                    <use href="./images/sprite.svg#arrow-right"></use>
                                </svg>
                            </button>                    
                            <div class="overlay overlay--iced-coffe">
                            <ul class="overlay__list list">
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Sombroro Kahlua Milk</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Greek Frappe</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Thai Iced Coffee</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Shakerato coffee</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Affogato</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products__item">
                
                <h3 class="products__item-title">
                    milkshakes
                </h3>
                <p class="products__item-description">
                    The milkshake is a gourmet drink based on milk, crushed ice, a scoop of vanilla ice cream and a flavour of your choice.<span class="products__text-hide"> Mild and fresh, it is perfect for a gourmet break during the summer!</span></p>
                    <div class="products__wraper">              
                        <div class="products__btn-wraper">
                             <button type="button" class="products__item-btn link">
                                <svg class="products__item-icon">
                                    <use href="./images/sprite.svg#arrow-right"></use>
                                </svg>
                             </button>                   
                            <div class="overlay overlay--milkshakes">
                            <ul class="overlay__list list">
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Classic Vanilla</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Rocking Raspberry</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Purple Rain</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Mary Jane</a>
                                </li>
                                <li class="overlay__item">
                                    <a href="#" class="overlay__link link">Cool Mint</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
