<section id="reviews" class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__tittle--hidden visually-hidden">Customer Reviews</h2>

    <div class="reviews__slider">
      <div>
        <picture class="reviews__photo">
          <source
            srcset="images/reviews/x1/person1.webp 1x, images/reviews/x2/person1@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="images/reviews/x1/person1.png 1x, images/reviews/x2/person1@2x.png 2x" />

          <img src="images/reviews/x1/person1.png" alt="customer photo" />
        </picture>
        <div class="reviews__description-wrapper">
          <p class="reviews__text">
            Best tasting ice cream out there. I will never get another ice cream again. The flavor
            is out rages and it has hard chocolate throughout the whole pint of ice cream. I bet you
            can’t eat just one.
          </p>
        </div>
        <p class="reviews__person-name">Emily, Los Angeles</p>
      </div>
      <div>
        <picture class="reviews__photo">
          <source
            srcset="images/reviews/x1/person2.webp 1x, images/reviews/x2/person2@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="images/reviews/x1/person2.png 1x, images/reviews/x2/person2@2x.png 2x" />

          <img src="images/reviews/x1/person2.png" alt="customer photo" />
        </picture>
        <div class="reviews__description-wrapper">
          <p class="reviews__text">
            Lots of nice, thick chocolate - I could really care less about the ice cream, but the
            chocolate is divine. This stuff is outrageously fattening though. And very
            habit-forming, so beware!
          </p>
        </div>
        <p class="reviews__person-name">Olivia, Washington</p>
      </div>
      <div>
        <picture class="reviews__photo">
          <source
            srcset="images/reviews/x1/person3.webp 1x, images/reviews/x2/person3@2x.webp 2x"
            type="image/webp"
          />
          <source srcset="images/reviews/x1/person3.png 1x, images/reviews/x2/person3@2x.png 2x" />

          <img src="images/reviews/x1/person3.png" alt="customer photo" />
        </picture>
        <div class="reviews__description-wrapper">
          <p class="reviews__text">
            Probably the yummiest ice cream I've ever inhaled!! Very interesting idea to totally
            surround the ice cream with a hard chocolate shell. It gives you more time to come to
            your senses and not eat the whole pint in one sitting....
          </p>
        </div>
        <p class="reviews__person-name">Penelope, Brooklyn</p>
      </div>
    </div>
  </div>
</section>
