<section id="reviews" class="reviews">
<div class="container reviews__container">
    <h2 class="reviews__tittle--hidden visually-hidden">Customer Reviews</h2>


<div class="reviews__slider">
    
<div>
          <picture class="reviews__photo">
            <source
            srcset=" 
            images/reviews/x1/person1.webp 1x,
            images/reviews/x2/person1@2x.webp 2x"
            type="image/webp">
            <source 
            srcset="
            images/reviews/x1/person1.png 1x,
            images/reviews/x2/person1@2x.png 2x">

          <img src="images/reviews/x1/person1.png" alt="customer photo"> 
        </picture> 
        <div class="reviews__description-wrapper"> 
            <p class="reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p> 
        </div> 
            <p class="reviews__person-name">Emily, Los Angeles</p> 
</div> 
<div>
    <picture class="reviews__photo">
        <source
        srcset=" 
        images/reviews/x1/person2.webp 1x,
        images/reviews/x2/person2@2x.webp 2x"
         type="image/webp">
        <source 
        srcset="
        images/reviews/x1/person2.png 1x,
        images/reviews/x2/person2@2x.png 2x">

      <img src="images/reviews/x1/person2.png" alt="customer photo"> 
    </picture> 
  <div class="reviews__description-wrapper"> 
      <p class="reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p> 
  </div> 
      <p class="reviews__person-name">Olivia, Los Angeles</p> 
</div> 
<div>
    <picture class="reviews__photo">
        <source
        srcset=" 
        images/reviews/x1/person3.webp 1x,
        images/reviews/x2/person3@2x.webp 2x"
         type="image/webp">
        <source 
        srcset="
        images/reviews/x1/person3.png 1x,
        images/reviews/x2/person3@2x.png 2x">

      <img src="images/reviews/x1/person3.png" alt="customer photo"> 
    </picture> 
  <div class="reviews__description-wrapper"> 
      <p class="reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. </p> 
  </div> 
      <p class="reviews__person-name">Penelope, Los Angeles</p> 
</div> 

</div>

</div>
    </section>
    
