<section id="reviews" class="reviews">
    <div class="container reviews__container">
    <h2 class="reviews__tittle-hidden">Customer Reviews</h2>

<div class="reviews__slider slick-initialized slick-slider slick-dotted">
   <div class="slick-list draggable">
   <div class="slick-track" style="opacity: 1; width: 2100px; transform: translate3d(-1400px, 0px, 0px);" >
    <div class="slick-slide" data-slick-index="0" aria-hidden="true" role="tabpanel" 
id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 700px;" tabindex="-1">
    <div class="reviews__wrapper">

        <!-- <picture class="reviews__picture">
            <source srcset="
            images/reviews/x1/person1.webp 1x,
            images/reviews/x2/person1@2x.webp 2x,
            images/reviews/x1/person1.png 1x,
            images/reviews/x1/person1@2x.png 2x
            "
            media="(max-width: 767px)" type="image/webp">
        </picture> -->
        <img src="images/reviews/x1/person1.png" alt="reviewer1 picture" class="reviewer1-photo" />
        <div>
            <p class="reviews__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        <p class="reviews_name">
      Emily, Los Angeles</p>
    </div>
</div>
</div>
</div>
</div>


    <div class="reviews__wrapper">
        <img src="images/reviews/x1/person2.png" alt="reviewer1 picture" class="reviewer1-photo" />
        <div>
            <p class="reviews__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        <p class="reviews_name">
Paula, San Diego
        </p>
    </div> 

    <div class="reviews__wrapper">
        <img src="images/reviews/x1/person3.png" alt="reviewer1 picture" class="reviewer1-photo" />
        <div>
            <p class="reviews__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        <p class="reviews_name">
Grace, Long Beach
        </p>
    </div>  

    </div>
    </section>
    <script src="slider.js"></script>