.action-btn--crimson,
.action-btn--light {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  //width: 162px;
  height: 44px;
  padding-left: 36px;
  padding-right: 36px;
  border-style: none;
  border-radius: 22px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;

  transition: $transition-hover-focus;

  cursor: pointer;
}

.action-btn--crimson {
  color: $main-white-color;
  background-color: $text-color-title;

  &:focus,
  &:hover {
    background-color: $background-hover;
  }
}

.action-btn--light {
  color: $text-color-title;
  background-color: $main-white-color;

  &:focus,
  &:hover {
    background-color: $background-reviews;
  }
}

.action-btn__icon {
  width: 10px;
  height: 10px;
  margin-left: 13px;
  margin-top: 1px;
  fill: currentColor;
}
