.modal {
  position: relative;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  max-height: 502px;
  background: linear-gradient(315deg, rgb(255, 165, 186) 38%, rgb(194, 226, 151) 55%);
}
.close-button {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  border: none;
  color: $main-white-color;
}
