.back_to_top {
  position: fixed;
  right: -15px;
  bottom: 5%;
  z-index: 99;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  display: none;
  background-image: url(../images/moo-mobile.png);
  width: 58px;
  height: 80px;
  background-repeat: no-repeat;
  

    &:hover {
    right: 0px;
  }
}

.back_to_top-show {
  display: block;
}

@media screen and (min-width: 768px) {
  .back_to_top {
    right: -25px;
    width: 95px;
    height: 130px;
    background-image: url(../images/moo-table.png);
  }
}

@media screen and (min-width: 1080px) {
  .back_to_top {
    right: -44px;
    width: 160px;
    height: 200px;
    background-image: url(../images/moo-desktop.png);
  }
}
@media screen and (min-width: 1280px) {
  .back_to_top {
    right: -44px;
    width: 160px;
    height: 200px;
    background-image: url(../images/moo-desktop.png);
  }
}
