//.header-btn--crimson - малиновая кнопка
//.header-btn--light - светло розовая
// тут описаны отдельно две кнопки, для каждой кнопки настроены свои ховеры и анимации.

//*
.test2-div {
  display: flex;
  width: 400px;
  background-color: teal;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}
//*

.simple-btn--crimson,
.simple-btn--light {
  border-style: none;
  border-radius: 20px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
}

.simple-btn--crimson {
  width: 61px;
  height: 24px;

  color: $main-white-color;
  background-color: $text-color-title;

  @media screen and (min-width: $tablet) {
    width: 8.4vw;
    height: 3.5vw;

    font-size: 1vw;
  }

  @media screen and (min-width: $desktop) {
    width: 102px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}

.simple-btn--light {
  width: 83px;
  height: 24px;

  color: $text-color-title;
  background-color: $main-white-color;

  @media screen and (min-width: $tablet) {
    width: 11.5vw;
    height: 3.5vw;

    font-size: 1vw;
  }

  @media screen and (min-width: $desktop) {
    width: 138px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}
