// эти кнопки есть только в хиро.
//.simple-btn--crimson - малиновая
//.simple-btn--light - белая
//ховеры и анимацию прикручу чуть позже, комментарии удаляться когда работа с кнопками закончится.

.simple-btn--crimson,
.simple-btn--light {
  border-style: none;
  border-radius: 20px;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;

  cursor: pointer;
}

.simple-btn--light {
  &:hover,
  &focus {
    background-color: $background-reviews;
  }
}

.simple-btn--crimson {
  &:hover,
  &focus {
    background-color: $background-hover;
  }
}

.simple-btn--crimson {
  width: 61px;
  height: 24px;

  color: $main-white-color;
  background-color: $text-color-title;

  @media screen and (min-width: $tablet) {
    width: 8.4vw;
    height: 3.5vw;

    font-size: 1vw;
  }

  @media screen and (min-width: $desktop) {
    width: 102px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}

.simple-btn--light {
  width: 83px;
  height: 24px;

  color: $text-color-title;
  background-color: $main-white-color;

  @media screen and (min-width: $tablet) {
    width: 11.5vw;
    height: 3.5vw;

    font-size: 1vw;
  }

  @media screen and (min-width: $desktop) {
    width: 138px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}
