.about {
  background-color: $background-accent-light;
  padding-top: 125px;
  padding-bottom: 20px;

  &__title {
    margin-bottom: 26px;
    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;

    &::before {
      display: block;
      margin-bottom: 15px;
      content: 'tradition and love';
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 1.16;
      text-align: center;
      text-transform: uppercase;
      color: $background-image;
    }
  }
  &__img {
    margin-bottom: 46px;
  }
  &__text-top {
    margin-bottom: 32px;
    max-width: 220px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: $main-black-color;
  }
  &__text-bottom {
    margin-bottom: 22px;
    max-width: 220px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: $text-color-accent;
  }
  & .action-btn--light {
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  &__icon {
    margin-left: 12px;
  }
}
