.about {
  background-color: $background-accent-light;
  padding-top: 125px;
  padding-bottom: 20px;

  &__title {
    margin-bottom: 26px;
    font-family: $secondary-font;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;

    &::before {
      display: block;
      margin-bottom: 15px;
      content: 'tradition and love';
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 1.16;
      text-align: center;
      text-transform: uppercase;
      color: $background-image;
    }
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }
  &__box-text {
    margin-left: 32px;
    margin-right: 32px;
  }
  &__text-top {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: normal;
    color: $main-black-color;
  }
  &__text-bottom {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: normal;
    color: $text-color-accent;
    &_end {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      letter-spacing: normal;
      color: $text-color-accent;
    }
  }
  & .action-btn--light {
    margin-top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  &__icon {
    margin-left: 12px;
  }
  &__btn {
    width: 176px;
  }
}

@media screen and (max-width: $max-mobile) {
  .about {
    background-image: url(../images/about/tel/x1/background-tel.png);
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-size: 100%;
    & .container {
      max-width: 550px;
    }
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about {
      background-image: url(../images/about/tel/x2/background-tel@2x.png);
    }
  }
}

@media screen and (min-width: $tablet) {
  .about {
    padding-top: 130px;
    padding-bottom: 32px;
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      margin-bottom: 55px;
      font-size: 48px;
      line-height: 1.15;

      &::before {
        font-size: 26px;
        line-height: 1.14;
      }
    }
    &__box-text {
      margin-left: 0px;
      margin-right: 0px;
    }
    &__text-top {
      padding-top: 50px;
      margin-top: 0;
      font-size: 14px;
      line-height: 1.76;
    }
    &__text-bottom {
      font-size: 14px;
      line-height: 1.76;
      letter-spacing: 0.04em;
      &_end {
        letter-spacing: 0.04em;
        font-size: 14px;
        line-height: 1.76;
      }
    }
    & .action-btn--light {
      margin-top: 62px;
    }
    &__box_img {
      margin-right: 18px;
      min-width: 340px;
      min-height: 340px;
    }
    &__img {
      margin-right: 20px;
      // min-width: 340px;
      // min-height: 340px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 1080px) {
  .about {
    background-image: url(../images/about/desktop/x1/background-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 120%;
    background-size: 100%;

    &__title {
      margin-bottom: 55px;
      font-size: 58px;
      line-height: 1.14;

      &::before {
        font-size: 30px;
        line-height: 1.13;
      }
    }

    &__text-top {
      letter-spacing: 0.04em;
      font-size: 16px;
    }
    &__text-bottom {
      line-height: 1.94;
      &_end {
        line-height: 1.94;
      }
    }
    & .action-btn--light {
      margin-top: 45px;
    }
    &__box_img {
      margin-right: 72px;
      min-width: 516px;
      min-height: 516px;
    }

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .about {
        background-image: url(../images/about/desktop/x2/background-desktop@2x.png);
      }
    }
  }
}
