.header {
  position: absolute;
  width: 100%;
  min-width: 320px;
  margin: 0;
  z-index: 5;
  color: transparent;

  & .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 87px;
    transition: all 0.3s ease 0s; //*

    @media screen and (min-width: $tablet) {
      width: 100%;
      padding-left: 4.4%;
      padding-right: 4.4%;
      height: 87px;
    }

    @media screen and (min-width: 1024px) {
      width: 96%;
      padding-left: 35px;
      padding-right: 35px;
    }

    @media screen and (min-width: $desktop) {
      align-items: center;
      width: 1280px;
      padding-left: 46px;
      padding-right: 115px;
      height: 120px;
    }
  }
}

.logo {
  width: 199px;
  height: 50px;
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.76;
    color: $main-white-color;
    visibility: visible;

    @media screen and (max-width: 1079px) {
      font-size: 1px;
      visibility: hidden;
      display: none;
    }
  }

  &__item {
    display: block;
    text-align: center;
    &:not(:last-child) {
      margin-right: 2.4vw;

      @media screen and (min-width: 1280px) {
        margin-right: 35px;
      }
    }
  }

  &__link {
    color: $main-white-color;
    padding-top: 24px;
    padding-bottom: 16px;
    cursor: pointer;
    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
      color: $text-color-title;
    }
    
    @media screen and (min-width: 1280px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &:hover,
  &:focus {
    color: $text-color-title;
  }
}
.current {
  color: $text-color-title;
}

.button-container {
  height: 50px;
  display: flex;
  align-items: center;

  &__burger-menu-btn {
    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }

    @media screen and (min-width: 1080px) {
      display: none;
    }
  }

  &__order-btn {
    display: flex;
    font-weight: 700;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
