.hero .container {
    position: relative;
    height: 100%;
}
.hero .wrapper {
    position: absolute;
    top: 0;
    z-index: 1;
}

.hero {
    margin: 0 auto;
    height: 100vh;
    min-width: 320px;
    max-width: 1280px;
    background-color: $background-accent;

    @media screen and (max-width: $max-mobile) {
        padding-top: 137px;
        // padding-top: 28.542vh;
    }

    @media screen and (min-width: $tablet){
        padding-top: 102px;
        // padding-top: 13.281vw;
        height: 399px;
        // height: 51.953vh;
    }

    @media screen and (min-width: $desktop) {
        padding-top: 171px;
        height: 665px;

    }
}

.hero {
    &__title {
        font-family: Titan One;
        font-size: 26px;
        line-height: 0.86;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        max-width: 218px;
        color: $main-white-color;
        margin-bottom: 19px;
        z-index: 5;

        &--accent {
            font-size: 48px;
            line-height: 1.04;
            color: $text-color-title;
        }

        @media screen and (min-width: $tablet) {
            font-size: 22px;
            line-height: 0.88;
            max-width: 162px;
            // max-width: 18vw;
            margin-bottom: 20px;
            // margin-bottom: 2.604vh;
            
            &--accent {
                font-size: 34px;
                line-height: 1.09;
                color: $text-color-title;
            }
        }
        @media screen and (min-width: $desktop) {
            font-size: 38px;
            line-height: 0.86;
            max-width: 277px;
            // max-width: 25.648vw;
            margin-bottom: 25px;
            // margin-bottom: 2.315vw;
            
            &--accent {
                font-size: 58px;
                line-height: 1.115;
                color: $text-color-title;
            }
        }
    }

    &__desc {
        @media screen and (max-width: $max-mobile) {
            display: none;   
        }

        @media screen and (min-width: $tablet) {
            font-family: $main-font;
            font-size: 8px;
            line-height: 1.5;
            color: $main-white-color;
            max-width: 136px;
            margin-left: 154px;
            margin-bottom: 59px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 14px;
            line-height: 1.7;
            max-width: 203px;
            margin-left: 180px;
        }
    }

    &__desc-text {
        margin-bottom: 7px;

        @media screen and (min-width: $desktop) {
            margin-bottom: 20px;
        }
    }

    &__desc-link {
        display: flex;
        align-items: center;
        justify-content: center;  
        width: 18px;
        height: 18px;
        border-radius: 50%; 
        background-color: $main-white-color;

        @media screen and (min-width: $desktop) {
            width: 26px;
            height: 26px;
        }

        

        &-icon {
            width: 6px;
            height: 6px;
            fill: $text-color-title;
            border-radius: 50%; 

        }

        @media screen and (max-width:$max-mobile) {
            display: none;   
        }
    }
}


.simple-button {
    &__list {
        display: flex;
        flex-direction: row;
        
        @media screen and (min-width:$tablet) {
            margin-bottom: 66px;
            // margin-bottom: 8.594vh;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 112px;
            // margin-bottom: 8.750vh;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 8px;

            @media screen and (min-width: $desktop) {
               margin-right: 15px;  
            }
        }
        
    }
}

.bg-group {

    @media screen and (max-width: 320px) {
        display: none;
    }
    
    position: absolute;
    bottom: 66px;
    left: 36px;
    margin: 0%;
    background: $background-image;
    border-radius: 50%;

    width: 346px;
    height: 344px;
   
    &__icecream {
        position: absolute;
        top: 0;
        left: 81px;
        width: 171px;
        height: 419px;
    }
     

    @media screen and (min-width: $tablet){
        width: 324px;
        height: 322px;
        bottom: 46px;
        left: 307px;

        &__icecream {
           
            top: 32px;
            left: 71px;
            width: 143px;
            height: 336px;
        }

    }

    @media screen and (min-width: $desktop){
        width: 538px;
        height: 538px;
        bottom: 75px;
        left: 475px;

        &__icecream {
            
            top: 56px;
            left: 119px;
            width: 236px;
            height: 360px;
        }

    }
}


.hero__bg-16 {
    position: absolute;
    top: 0;
    right: 34px;

    @media screen and (max-width: $max-mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 43px;
        height: 44px;
    }

    @media screen and (min-width: $desktop) {  
        width: 72px;
        height: 77px;
        right: 0;
    }
}

.hero__bg-23 {
    position: absolute;
    
    @media screen and (max-width: $max-mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 51px;
        height: 43px;
        top: 56px;
        right: 34px;  
    }

    @media screen and (min-width: $desktop) {  
        width: 92px;
        height: 76px;
        top: 87px;
        right: 0;
    }
}

.hero__bg-milk {
    position: absolute;

    @media screen and (max-width: $max-mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 124px;
        height: 126px;
        left: 34px;
        bottom: 28px;
    }

    @media screen and (min-width: $desktop) {  
        width: 188px;
        height: 191px;
        left: 0%;
        bottom: 45px;
    }
}

.hero__bg-tasty {
    position: absolute;
    bottom: 0;
    right: 34px;

    @media screen and (max-width: $max-mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 168px;
        height: 133px;
    }

    @media screen and (min-width: $desktop) {  
        width:  293px;
        height: 232px;
        right: 0;
    }
}


 // @media screen and (max-width:$max-mobile){
        
        

    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: top left;
    //     background-image: url('../images/hero/tablet/x1/ellipse-tablet.png');
    

    //     @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: url('../images/hero/tablet/x2/ellipse-tablet@2x.png');
        
    //     }

        
    // }

    // @media screen and (min-width: $tablet){
    //     width: 324px;
    //     height: 322px;

    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center center;
    //     background-image: url('../images/hero/tablet/x1/ellipse-tablet.png');
    
    //     @media (min-device-pixel-ratio: 2),
    //         (min-resolution: 192dpi),
    //         (min-resolution: 2dppx) {
    //         background-image: url('../images/hero/tablet/x2/ellipse-tablet@2x.png');
    //     }
    // }