.hero .container {
  position: relative;
  height: 100%;

  @media screen and (min-width: $tablet) {
    width: 100%;
    padding-left: 4.4%;
    padding-right: 4.4%;
  }

  @media screen and (min-width: 1024px) {
    width: 88%;
  }
}

.hero .wrapper {
  position: absolute;
  top: 15%;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    top: 0%;
  }
}

.hero {
  margin: 0 auto;
  height: 502px;
  min-width: 320px;
  max-width: 1280px;
  background-color: $background-accent;
  transition: all 0.3s ease 0s;
  overflow: hidden;

  @media screen and (max-width: $max-mobile) {
    padding-top: 137px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 102px;
    height: 400px;
  }

  @media screen and (min-width: 1080px) {
    padding-top: 120px;
    height: 420px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 171px;
    height: 665px;
  }
}

.hero {
  &__title {
    font-family: Titan One;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    max-width: 218px;
    color: $main-white-color;
    margin-bottom: 19px;
    z-index: 5;
    transition: all 0.2s ease 0s;

    &--accent {
      font-size: 48px;
      line-height: 0.96;
      color: $text-color-title;
    }

    @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 1.13;
      max-width: 162px;
      margin-bottom: 20px;

      &--accent {
        font-size: 34px;
        line-height: 0.91;
        color: $text-color-title;
      }
    }
    @media screen and (min-width: $desktop) {
      font-size: 38px;
      line-height: 1.15;
      max-width: 277px;
      margin-bottom: 25px;

      &--accent {
        font-size: 58px;
        line-height: 0.9;
        color: $text-color-title;
      }
    }
  }

  &__desc {
    transition: all 0.2s ease 0s;

    @media screen and (max-width: $max-mobile) {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      font-family: $main-font;
      font-size: 8px;
      line-height: 1.5;
      color: $main-white-color;
      max-width: 136px;
      margin-left: 154px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.7;
      max-width: 203px;
      margin-left: 180px;
    }
  }

  &__desc-text {
    margin-bottom: 7px;
    transition: all 0.2s ease 0s;

    @media screen and (min-width: $desktop) {
      margin-bottom: 20px;
    }
  }

  &__desc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $main-white-color;

    @media screen and (min-width: $desktop) {
      width: 26px;
      height: 26px;
    }

    &-icon {
      width: 6px;
      height: 6px;
      fill: $text-color-title;
      border-radius: 50%;
      transition: all 0.2s ease 0s;

      @media screen and (min-width: $desktop) {
        width: 8px;
        height: 8px;
      }
    }

    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }
}

.simple-button {
  &__list {
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease 0s;

    @media screen and (min-width: $tablet) {
      margin-bottom: 66px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 112px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease 0s;

    &:not(:last-child) {
      margin-right: 8px;

      @media screen and (min-width: $desktop) {
        margin-right: 15px;
      }
    }
  }
}

.bg-group {
  transition: all 0.2s ease 0s;

  @media screen and (max-width: 319px) {
    display: none;
  }

  position: absolute;
  bottom: 66px;
  left: 36px;
  margin: 0%;
  background: $background-image;
  border-radius: 50%;

  width: 346px;
  height: 344px;

  &__icecream {
    position: absolute;
    top: 0;
    left: 81px;
    width: 171px;
    height: 419px;
  }

  @media screen and (min-width: $tablet) {
    width: 324px;
    height: 322px;
    bottom: 46px;
    left: 38%;

    &__icecream {
      top: 32px;
      left: 71px;
      width: 143px;
      height: 336px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 538px;
    height: 538px;
    bottom: 75px;
    left: 388px;

    &__icecream {
      top: 56px;
      left: 119px;
      width: 236px;
      height: 360px;
    }
  }
}

.hero__bg-16 {
  position: absolute;
  top: 0;
  right: 34px;
  transition: all 0.2s ease 0s;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    width: 43px;
    height: 44px;
  }

  @media screen and (min-width: $desktop) {
    width: 72px;
    height: 77px;
    right: 0;
  }
}

.hero__bg-23 {
  position: absolute;
  transition: all 0.2s ease 0s;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    width: 51px;
    height: 43px;
    top: 56px;
    right: 34px;
  }

  @media screen and (min-width: $desktop) {
    width: 92px;
    height: 76px;
    top: 87px;
    right: 0;
  }
}

.hero__bg-milk {
  position: absolute;
  transition: all 0.2s ease 0s;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    width: 124px;
    height: 126px;
    left: 34px;
    bottom: 28px;
  }

  @media screen and (min-width: $desktop) {
    width: 188px;
    height: 191px;
    left: -28px;
    bottom: 45px;
  }
}

.hero__bg-tasty {
  position: absolute;
  bottom: 0;
  right: 34px;
  transition: all 0.2s ease 0s;

  @media screen and (max-width: $max-mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 133px;
  }

  @media screen and (min-width: $desktop) {
    width: 293px;
    height: 232px;
    right: 0;
  }
}
