.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 480px;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  background-color: transparent;
  pointer-events: none;
}

.close-menu-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  z-index: 14;

  @media screen and (min-width: $tablet) {
    right: 34px;
  }
}

.order-btn {
  margin: 23px auto 20px auto;
  width: 100%;
  z-index: 14;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-modal;
  padding: 40px 20px;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0px);

  transition: transform 250ms $timing-function, visibility 250ms $timing-function;

  @media screen and (min-width: 375px) {
    width: 250px;
  }

  @media screen and (min-width: $tablet) {
    width: 264px;
    padding: 40px 34px;
  }

  @media screen and (min-width: 1080px) {
    display: none;
  }

  &.menu--hidden {
    transform: translateX(100%);
    visibility: hidden;
    overflow: scroll;
    pointer-events: none;
  }
}

.mobile-menu__list {
  list-style: none;
  z-index: 14;
}
.mobile-menu__list-item {
  border-top: 1pt solid $background-modal-line;
  padding-bottom: 12px;
  padding-top: 12px;
}
.mobile-menu__list-item:last-child {
  border-bottom: 1pt solid $background-modal-line;
}

.nav-link {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  font-family: $main-font;

  color: $main-white-color;

  transition: $transition-hover-focus;

  &:hover,
  &:focus {
    color: $background-hover;
  }
}

//body overflow block

.overflow--blocked {
  overflow-y: hidden;
}

//drop animation

@keyframes drop {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  80% {
    top: 90%;
  }

  96% {
    top: 90%;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.drop {
  opacity: 1;
  position: absolute;
  z-index: 11;
  left: 10%;
  top: 10%;
  width: 24px;
  height: 36px;
  background-image: linear-gradient(30deg, rgba(238, 153, 172, 0.7), rgba(207, 93, 127, 0.2));
  border-radius: 90%;
  transform: rotate(-12deg);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: drop;
}

.drop--1 {
  background-color: $background-modal;
  transform: rotate(8deg);

  animation-duration: 15s;
  animation-delay: 0ms;
  left: -1%;
  top: 1%;
}

.drop--2 {
  opacity: 1;
  animation-duration: 22s;
  animation-delay: 0ms;
  left: 92%;
  top: 10%;
}

.drop--3 {
  transform: rotate(-2deg);

  animation-duration: 12s;
  animation-delay: 0ms;
  left: 9%;
  top: 46%;
}

.drop--4 {
  animation-duration: 24s;
  animation-delay: 2ms;
  left: 76%;
  top: 38%;
}
