.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  background-color: transparent;
  visibility: visible;
  pointer-events: none;
}

.order-btn {
  margin: 20px auto 20px auto;
  width: 100%;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-modal;
  padding: 40px 20px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  overflow-x: hidden;
  transform: translateX(0);

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 375px) {
    width: 250px;
  }

  @media screen and (min-width: $tablet) {
    width: 264px;
  }

  @media screen and (min-width: 1080px) {
    display: none;
  }

  &.menu--hidden {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    overflow: scroll;
    pointer-events: none;
  }
}

.mobile-menu__list {
  list-style: none;
  z-index: 12;
}
.mobile-menu__list-item {
  border-top: 1pt solid $background-modal-line;
  padding-bottom: 12px;
  padding-top: 12px;
}
.mobile-menu__list-item:last-child {
  border-bottom: 1pt solid $background-modal-line;
}

.nav-link {
  display: block;

  font-weight: 700;
  font-size: 14px;
  font-family: $main-font;

  color: $main-white-color;

  &:hover,
  &:focus {
    color: $background-hover;
  }
}

//body overflow block

.overflow--blocked {
  overflow-y: hidden;
}

//drop animation

@keyframes drop {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  80% {
    top: 90%;
  }

  96% {
    top: 90%;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.drop {
  opacity: 1;
  position: absolute;
  z-index: 11;
  left: 10%;
  top: 10%;
  width: 24px;
  height: 32px;
  background-image: linear-gradient(-1deg, rgba(240, 150, 168, 0.8), rgba(225, 121, 146, 0.1));
  border-radius: 90%;
  transform: rotate(-10deg);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: drop;
}

.drop--1 {
  animation-duration: 16s;
  animation-delay: 0ms;
  left: -2%;
  top: 6%;
}

.drop--2 {
  opacity: 1;
  animation-duration: 26s;
  animation-delay: 0ms;
  left: 92%;
  top: 10%;
}

.drop--3 {
  animation-duration: 12s;
  animation-delay: 0ms;
  left: 8%;
  top: 50%;
}

.drop--4 {
  animation-duration: 8s;
  animation-delay: 10ms;
  left: 80%;
  top: 58%;
}

.drop--5 {
  animation-duration: 20s;
  animation-delay: 0ms;
  left: 58%;
  top: 54%;
}
